.map__image{
    width: 50%;
    float: left;
}

.map__image path{
    fill: #53af58d9;
    stroke: aliceblue;
    stroke-width: 1px;
    transition: fill 0.3s;
    
}

.map__image path:hover{
    fill: #fa8d34;
    stroke: aliceblue;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__list{
    float: right;
    width: 50%;
}
.map__list a{
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "helvetica";
}
.map__list a:hover{
    color: #fa8d34;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "helvetica";
}

.map__list ul{
    list-style: none;
    font-size: 2em;
    margin-left: 25%;
    line-height: 25px;
}

#map.map{
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}