@font-face{
    font-family: 'matchday';
    src: url('../font/gr_read_one/GR_Read_One.otf');
}
@font-face {
    font-family: 'helvetica';
    src: url('../font/gr_read_one/HelveticaNeueLTPro-Bd.otf');
}
/*====================PAGE HOME =======================*/

html {
	scroll-behavior: smooth;
}

body{
    background: #ffffff;
}

/* style du header */

#header{
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
}

#logo{
    width: 50%;
    height: 10%;
    text-align: center;
    color: #000000;
    font-family: 'matchday';
    margin-bottom: 15px;
    margin-top: 15px;
    
}
#logo img{
    width: auto;
    height: 48px;
}
#logo img:hover{
    cursor: pointer;
}

#btn{
    width: 30%;
    height: 10%;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'matchday';
}
#btn-user {
    width: auto;
    height: auto;
    background-image: url("img/home/user.png");
    margin-top: 5;
    width: 50px;
}
#btn-user:hover{
    background: url("../img/home/user-blanc.png");
}

#btn-user{
    display: flex;
    align-items: center;
}

/* style des boutons */
#register {
    background-color: #fa8d34;
    color: white;
    padding: 14px 20px;

    border: solid 1px #fa8d34;
    cursor: pointer;
    width: 100%;
}
#register:hover {
    background-color: white;
    color: #fa8d34;
}

#login {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;

    border: solid 1px #53af57;
    cursor: pointer;
    width: 100%;
}
#login:hover {
    background-color: white;
    color: #53af57;
}

/*============1er compartiment fond stade==================*/
#landing{
    width: auto;
    height: 550px;
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/home/stade.jpg');
    background-size: cover;
}

#landing #title{
    color: aliceblue;
    font-size: 30px;
    font-family: Helvetica;
    text-align: center;
    justify-content: start;
    text-shadow: 1px 2px 2px #000000;
}
#landing #title_strong{
    color: #53af57;
    font-size: 35px;
    font-family: Helvetica;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
}
/*=========style ecussons et bouton==============*/
#landing #ecusson{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.landing_target{
    margin: 50px;
}

#landing #ecusson img{
    width: 150px;
    height: auto;
}

.landing_target p{
    font-family: Helvetica;
    text-align: center;
    background-color: aliceblue;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #000000;
}


#landing a{
    text-decoration: none;
    text-transform: uppercase;
}

#landing a .text_haut{
    color: black;
}

#landing a .text_bas{
    color: #53af57;
}

#landing a:hover span{
    color:#fa8d34 ;
}

#landing a:hover p{
    box-shadow: 3px 3px 3px #000000;

}

.landing_target img{
    -webkit-transition: all 0.8s ease; /* Safari et Chrome */
    -moz-transition: all 0.8s ease; /* Firefox */
    -ms-transition: all 0.8s ease; /* Internet Explorer 9 */
    -o-transition: all 0.8s ease; /* Opera */
    transition: all 0.8s ease;
}
.landing_target:hover img {
    /* L'image est grossie de 10% */
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
    }
/*2eme compartiment blanc */
#info{
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 219, 219);

}

#info_stat{
    width: 45%;
    height: 200px;
    background-color: rgb(219, 219, 219);
    text-align: center;
    display: flex;
    margin-left: 240px;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica;
    
}
#info_stat ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding-left: 0%;
}
#info_stat li{
    padding-left: 20px;
    padding-right: 20px;
}

#info_carte{
    width: 50%;
    height: 200px;
}

#info_carte img{
    width: 190px;
    height: auto;
    padding-left: 100px;
}
.chiffre{
    color: #fa8d34;
}
.vert{
    color: #53af57;
    font-size: small;
    margin: 0;
}
.text{
    margin: 0;
}


/*====================JE SUIS UN(E) FANS===========================*/

#photo_fans{
    background-image: url(../img/home/photo_fans.jpg);
    width: 80%;
    height: 400px;
}

#fans{
    display: flex;
    flex-direction: row;
    width: auto;
}


#info_fans{
    padding: 50px;
    text-align: center;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
}

p , li{
    font-weight: 200;
    font-size: small;
}

/*====================JE SUIS UN CLUB===========================*/


#photo_club{
    background-image: url(../img/home/photo_club.jpg);
    width: 80%;
    height: 400px;
}

#clubs{
    display: flex;
    flex-direction: row;
    width: auto;
}


#info_club{
    padding: 50px;
    text-align: center;
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
}

p , li{
    font-weight: 200;
    font-size: small;
}

/*====================JE SUIS UN SITE D'INFO===========================*/

#photo_site{
    background-image: url(../img/home/photo_info.jpg);
    width: 80%;
    height: 400px;
}

#site{
    display: flex;
    flex-direction: row;
    width: auto;
}


#info_site{
    padding: 50px;
    text-align: center;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
}

p , li{
    font-weight: 200;
    font-size: small;
}


/*====================style liens========================*/
#info_fans a {
    color: #fa8d34;
    text-align: center;
    display: block;
}
#info_fans a:hover{
    color: #ff7300;
}

#info_club a{
    color: #fa8d34;
    text-align: center;
    display: block;
}
#info_club a:hover{
    color: #ff7300;
}
#info_site a{
    color: #fa8d34;
    text-align: center;
    display: block;
}
#info_site a:hover{
    color: #ff7300;
}
/*========================================================*/



/*====================FOOTER========================*/

footer{
    width: auto;
    height: 100px;
    background-color: #363636;
    text-align: center;
    color: aliceblue;
    padding: 50px;
}
/*====================RESPONSIVE========================*/

@media screen and (max-width: 850px){
/*ecusson*/
    #landing #ecusson{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #landing #ecusson img{
        width: 100px;
        height: auto;
    }
    .landing_target{
        margin: 20px;
    }

/*bouton header*/

    #register {
        background-color: #fa8d34;
        color: white;
        padding: 2px;
        margin-top: 10px;
        border: solid 1px #fa8d34;
        cursor: pointer;
        width: 100%;
    }
    
    #login {
        background-color: #53af57;
        color: white;
        padding: 2px;
        margin-top: 10px;
        border: solid 1px #53af57;
        cursor: pointer;
        width: 100%;
    }
    #btn{
        width: 50%;
        height: auto;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-evenly;
        font-family: 'matchday';
    }

/*2eme compartiment blanc*/

    #info{
        display: flex;
        flex-direction: column;
        background-color: rgb(219, 219, 219);

    }
    #info_stat{
        width: 100%;
        margin: 0;
        height: 200px;
        
    }
    #info_stat ul{
        padding-left: 0%;
    }
    #info_stat li{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #info_carte{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #info_carte img{
        width: 300px;
        height: auto;
        padding-left: 0;
        padding-bottom: 40px;

    }
}